body{
  font-family:sans-serif ;
  height: 3000px;
  padding-left: 30px;
  width: 991px;
}

.pf{
  color: red;
}

.Medi{
   font-weight: bold;
   
}

.lop{
  color: rgb(145, 149, 153);
  font-weight: bold;
}

.div-plus{
  color: #696a69;
  font-weight: 900;
  position: absolute;
  top: 8px;
  left: 88px;
  font-size: 30px;
}

.simbol{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 83px;
  top: 14px;
}

.medilop{
  display: inline-block;
  margin-left: 35px;
}

.div-medi-lap{
  width: 150px;
display: inline-block;
margin-left: 10px;
font-size: 25px;
}

header nav p {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
  
}

header nav{
  display: inline-block;
  margin-left: 170px;
}

header{
  margin-top: 15px;
  margin-left: 40px;
}

.div-log{
  display:inline-block;
  margin-left: 80px;
}

.log-in{
 border: none;
 background-color: white;
 font-weight: bold;
 font-size: 15px;
}

.sign-up{
  font-size: 15px;
  background-color: rgb(25, 25, 25);
  color: white;
  padding: 2px 20px 2px 20px;
}

.h1-1{
  font-weight: bold;
  width: 400px;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 50px;
}

.img-1{
  width: 370px;
  height: 368px;
  display: inline-block;
  position: absolute;
  right: 43px;
  top: 0;
  object-fit: cover;
  object-position: left;
}

.w-c-a-y-h{
  margin-left: 40px;
  width: 400px;
  margin-bottom: 0;
}

.container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 0;
  margin-top: 25px;
}
.input-field {
  padding: 7px;
  border: 3px solid #8b8a8a;
  border-right: none;
}
.sign-up-button {
  padding: 10px 30px;
  background-color:rgb(25, 25, 25);
  color: white;
  border: 2px solid rgb(25, 25, 25);
  cursor: pointer;
  font-size: 13px;
  
}

.book-now-button{
  padding: 10px 30px;
  background-color:rgb(25, 25, 25);
  color: white;
  border: 2px solid rgb(25, 25, 25);
  cursor: pointer;
  font-size: 13px;
  margin-left: 40px;
}

.play-button {
  
  width: 40px;
  height: 40px;
  background-color: #696a69;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

}
.play-button::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 22px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 13px solid black;
  border-top: 8px solid transparent;
  border-bottom: 7px solid transparent;
}

.book-now-div{
  display: inline-block;
  margin-right: 20px;
}

.div-book{
  display: flex;
  align-items: center;
  width: 400px;
  margin-top: 25px;
}

.play-video{
  font-size: 13px;
  color: #787a78;
  margin-left: 12px;
  margin-top: 16px;
}

.sec-1{
  position: relative;
}

.sec2{
font-weight: bold;
text-align: center;
margin-top: 100px;
font-size: 35px;
}

.span-sec2{
color: #787777;
}

.l-card{
  width: 196px;
  height: 191px;
  background-color: #d0d0d0 ;
  position: relative;
  margin-right: 28px;
  display: inline-block;
}

.icon{
  width: 55px;
  height: 55px;
  background-color: #787777;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 60px;
}

.card-heading{
  position: absolute;
  color: #535252;
  top: 90px;
  left: 37px;
  font-size: 17px;
  font-weight: bold;
}

.card-headingb{
  position: absolute;
  color: #535252;
  top: 90px;
  left: 30px;
  font-size: 17px;
  font-weight: bold;
}

.card-headingc{
  position: absolute;
  color: #535252;
  top: 90px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.card-headingd{
  position: absolute;
  color: #535252;
  top: 90px;
  left: 30px;
  font-size: 17px;
  font-weight: bold;
}



.card-paragraph{
  font-size: 13px;
  line-height: 14px;
  position: absolute;
  top: 115px;
  text-align: center;
}

.first-cards{
  display: flex;
 justify-content: center;
}

.lb-card{
  width: 125px;
  height: 125px;
  background-color: #d0d0d0 ;
  position: relative;
  margin-right: 22px;
  margin-top: 100px;
  display: inline-block;
}

.icon-2{
  width: 55px;
  height: 55px;
  background-color: #787777;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 30px;
}

.card-paragraph-2{
  line-height: 14px;
  color: #535252;
  position: absolute;
  top: 80px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
}

.second-cards{
  display: flex;
 justify-content: center;
}

.card-paragraph-3{
  line-height: 14px;
  color: #535252;
  position: absolute;
  top: 80px;
  margin-left: 27px;
  font-size: 15px;
  font-weight: bold;
}

.card-paragraph-4{
  line-height: 14px;
  color: #535252;
  position: absolute;
  top: 80px;
  margin-left: 22px;
  font-size: 15px;
  font-weight: bold;
}

.card-paragraph-5{
  line-height: 14px;
  color: #535252;
  position: absolute;
  top: 80px;
  margin-left: 30px;
  font-size: 15px;
  font-weight: bold;
}

.card-paragraph-7{
  line-height: 14px;
  color: #535252;
  position: absolute;
  top: 80px;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
}

.banner{
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 630px;
  display: flex;
  align-items: center;
  position:relative;
}


.p-95p{
  width:18%;
  position:absolute;
  top: 90px;
  left: 10px;
  font-size: 12px;
  color: #595858;
}

.p-95d{
  width:18%;
  position:absolute;
  top: 90px;
  left: 170px;
  font-size: 12px;
  color: #595858;
}

.p-95e{
  width:18%;
  position:absolute;
  top: 90px;
  left: 350px;
  font-size: 12px;
  color: #595858;
}

.p-95f{
  width:18%;
  position:absolute;
  top: 90px;
  left: 510px;
  font-size: 12px;
  color: #595858;
}

.pcnt{
  font-size: 15px;
}

.milestone{
  display: inline-block;
  width: 20%;
  font-size: 14px;
  font-size: 33px;
  margin: 0 2px;
}

.milestone1{
  display: inline-block;
  width: 30%;
  font-size: 14px;
  font-size: 33px;
  margin: 0 2px;
}

.divider{
  border-right: 4px solid  #363636;
  margin: 0 5px;
  height: 100px;
  display: inline-block;
}

.flexible-container{
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.Looking{
  font-weight: bold;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.lc-card-a{
  width: 200px;
  height: 90px;
  background-color: #d0d0d0 ;
  position: relative;
  margin-left:40px;
  margin-top: 10px;
  display: inline-block;
}

.lc-card-b{
  width: 200px;
  height: 90px;
  background-color: #d0d0d0 ;
  position: relative;
  margin-left:15px;
  margin-top: 10px;
  display: inline-block;
}

.lc-card-c{
  width: 200px;
  height: 90px;
  background-color: #d0d0d0 ;
  position: relative;
  margin-left:15px;
  margin-top: 10px;
  display: inline-block;
}

.lc-card-d{
  width: 200px;
  height: 90px;
  background-color: #d0d0d0 ;
  position: relative;
  margin-left:15px;
  margin-top: 10px;
  display: inline-block;
}

.h-card-p{
  position: absolute;
  top: 20px;
  left: 60px;
  font-weight: bold;
  font-size: 19px;
}

.h-card-z{
  position: absolute;
  top: 20px;
  left: 45px;
  font-weight: bold;
  font-size: 19px;
}


.card-p{
  position: absolute;
  top: 50px;
  left:30px ;
  font-size: 12px;
}

.y-card{
  width: 196px;
  height: 191px;
  background-color: #696969 ;
  position: relative;
  margin-right: 28px;
  display: inline-block;
}

.icon-x{
  width: 55px;
  height: 55px;
  background-color: #787777;
  position: absolute;
  top: 20px;
  left: 20px;
}

.card-headinge{
  position: absolute;
  color: #e2e1e1;
  top: 90px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.card-headingf{
  position: absolute;
  color: #e2e1e1;
  top: 90px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.card-headingg{
  position: absolute;
  color: #e2e1e1;
  top: 90px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.card-headingh{
  position: absolute;
  color: #e2e1e1;
  top: 90px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.card-paragraph-x{
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  top: 115px;
  left: 20px;
  color: #e2e1e1;
}

.line-s-cards{
  display: flex;
 justify-content: space-between;
}

.lonely-card-heading{
 font-size: medium;
  position: absolute;
  left: 50px;
}

.lonely-card-paragraph{
 font-size: small;
 position: absolute;
 top: 2100px;
 left: 50px;
 width: 170px;
}

.lonely-card-heading-2{
  font-size: medium;
   position: absolute;
   left: 260px;
 }

 .lonely-card-paragraph-2{
  font-size: small;
  position: absolute;
  top: 2100px;
  left: 260px;
  width: 170px;
 }

 .lonely-card-heading-3{
  font-size: medium;
   position: absolute;
   left: 550px;
 }

 .lonely-card-paragraph-3{
  font-size: small;
  position: absolute;
  top: 2100px;
  left: 550px;
  width: 170px;
 }

 .lonely-card-heading-4{
  font-size: medium;
   position: absolute;
   left: 900px;
 }

 .lonely-card-paragraph-4{
  font-size: small;
  position: absolute;
  top: 2100px;
  left: 890px;
  width: 170px;
 }

 .div-h1-p-img-2{
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  margin-left: 30px;
  position: relative;
}

.first-h1-2{
  width: 400px;
  font-weight: bold;
}

.first-p{
  width: 400px;
}

.icon-image{
  width: 90px;
}

.first-h1-p-3{
  display: inline-block;
  margin-left: 50px;
}

.find-doctor-now-button{
  background-color: black;
  color: white;
  position: absolute;
  top: 250px;
  left: 0;
  padding: 10px 30px;
}

.find-doctor-now-button-2{
  background-color: black;
  color: white;
  position: absolute;
  top: 260px;
  padding: 10px 30px;
}

.div-want-to-register{
  background-color: #cacaca;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
  position: relative;
}

.h1-want-to-register{
  position: absolute;
  top: 40px;
  left: 80px;
}

.card-heading-keru{
  position: absolute;
  color: #5c5a5a;
  top: 70px;
  left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.card-paragraph-keru{
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  top: 115px;
  left: 20px;
  color: #5c5a5a;
}

.submit-here-button{
  font-size: 18px;
  background-color: black;
  color: white;
  position: absolute;
  top: 60px;
  right: 100px;
  padding: 15px 40px;
}

.last-card-2{
  width: 430px;
  height: 180px;
  background-color: #cacaca;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.div-kerugoya{
  display: flex;
  justify-content: space-between;
}

.footer{
display: flex;
justify-content: space-between;
height: 250px;
margin-left: 20px;
margin-top: 130px;
position: relative;
}

.div-medi-footer{
  display: flex;
  display: inline-block;
}

.p-about-medi{
  width: 150px;
  font-size: 12px;
}

.last{
  display: inline-block;
}

.logo-l{
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.p-fotter{
  display: inline-block;
  font-size: 14px;
}

.p-fotter-1{
  display: inline-block;
  font-weight: bold;
}

.ol{
  width: 150px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 200px;
}

.ol-2{
  width: 150px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 440px;
}

.ol-3{
  width: 150px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 650px;
}

.copy-right{
  height: 25px;
  background-color: #938f8f;
  display: flex;
  justify-content: center;
}

.small-icons{
  width: 30px;
}

